.main{
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-image: url("./img2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
   }
   .heading{
       font-size: 200px;
       color: #F57F17;
       margin-top: 70px;
       margin-bottom: 0;
       padding: 0;
   }
   .registerbtn{
       font-size: xx-large;
   }
   .subheading{
       font-size: 40px;
       color: white;
       border: none;
       text-decoration: none;
       font-weight: bold;
   }
   .list{
       background-color: rgba(255, 255, 255, 0.5);
       width: 100%;
       padding: 20px;
   }
   .list h4{
       color: #124653;
       font-weight: bold;
   }